body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1001px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73954 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1001px;
}
#u73955 {
  position:absolute;
  left:2px;
  top:492px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73956 {
  position:absolute;
  left:151px;
  top:0px;
  width:1051px;
  height:2273px;
}
#u73957 {
  position:absolute;
  left:2px;
  top:1128px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73958 {
  position:absolute;
  left:151px;
  top:0px;
  width:1051px;
  height:59px;
}
#u73959 {
  position:absolute;
  left:2px;
  top:22px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73960 {
  position:absolute;
  left:1px;
  top:119px;
  width:151px;
  height:30px;
}
#u73961 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73962 {
  position:absolute;
  left:1px;
  top:59px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73963 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73964 {
  position:absolute;
  left:1px;
  top:207px;
  width:151px;
  height:30px;
}
#u73965 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73966 {
  position:absolute;
  left:1px;
  top:236px;
  width:151px;
  height:30px;
}
#u73967 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73968 {
  position:absolute;
  left:1px;
  top:477px;
  width:151px;
  height:30px;
}
#u73969 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73970 {
  position:absolute;
  left:1px;
  top:447px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73971 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73972 {
  position:absolute;
  left:1px;
  top:562px;
  width:151px;
  height:30px;
}
#u73973 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73974 {
  position:absolute;
  left:1px;
  top:620px;
  width:151px;
  height:30px;
}
#u73975 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73976 {
  position:absolute;
  left:291px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73977 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u73978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73978 {
  position:absolute;
  left:189px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73979 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u73980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73980 {
  position:absolute;
  left:400px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73981 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u73982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73982 {
  position:absolute;
  left:1px;
  top:767px;
  width:151px;
  height:30px;
}
#u73983 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73984 {
  position:absolute;
  left:1px;
  top:738px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73985 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73986 {
  position:absolute;
  left:1px;
  top:796px;
  width:151px;
  height:30px;
}
#u73987 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73988 {
  position:absolute;
  left:1px;
  top:322px;
  width:151px;
  height:30px;
}
#u73989 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73990 {
  position:absolute;
  left:1px;
  top:293px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73991 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73992 {
  position:absolute;
  left:1px;
  top:351px;
  width:151px;
  height:30px;
}
#u73993 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73994 {
  position:absolute;
  left:1px;
  top:380px;
  width:151px;
  height:30px;
}
#u73995 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73996 {
  position:absolute;
  left:1px;
  top:264px;
  width:151px;
  height:30px;
}
#u73997 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u73998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73998 {
  position:absolute;
  left:1px;
  top:410px;
  width:151px;
  height:30px;
}
#u73999 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74000 {
  position:absolute;
  left:1px;
  top:649px;
  width:151px;
  height:30px;
}
#u74001 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74002 {
  position:absolute;
  left:1px;
  top:679px;
  width:151px;
  height:30px;
}
#u74003 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74004 {
  position:absolute;
  left:1px;
  top:708px;
  width:151px;
  height:30px;
}
#u74005 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74006 {
  position:absolute;
  left:1px;
  top:506px;
  width:151px;
  height:30px;
}
#u74007 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74008 {
  position:absolute;
  left:1px;
  top:825px;
  width:151px;
  height:30px;
}
#u74009 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74010 {
  position:absolute;
  left:1px;
  top:854px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74011 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74012 {
  position:absolute;
  left:1px;
  top:942px;
  width:151px;
  height:30px;
}
#u74013 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74014 {
  position:absolute;
  left:1px;
  top:1008px;
  width:151px;
  height:30px;
}
#u74015 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74016 {
  position:absolute;
  left:1px;
  top:971px;
  width:151px;
  height:30px;
}
#u74017 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74018 {
  position:absolute;
  left:1px;
  top:177px;
  width:151px;
  height:30px;
}
#u74019 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74020 {
  position:absolute;
  left:1px;
  top:591px;
  width:151px;
  height:30px;
}
#u74021 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74022 {
  position:absolute;
  left:1px;
  top:89px;
  width:151px;
  height:30px;
}
#u74023 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74024 {
  position:absolute;
  left:1px;
  top:149px;
  width:151px;
  height:30px;
}
#u74025 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74026 {
  position:absolute;
  left:1px;
  top:535px;
  width:151px;
  height:30px;
}
#u74027 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74028 {
  position:absolute;
  left:1px;
  top:884px;
  width:151px;
  height:30px;
}
#u74029 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74030 {
  position:absolute;
  left:1px;
  top:912px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74031 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74032 {
  position:absolute;
  left:1px;
  top:1001px;
  width:151px;
  height:30px;
}
#u74033 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74034 {
  position:absolute;
  left:1px;
  top:971px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74035 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74036 {
  position:absolute;
  left:1px;
  top:1091px;
  width:151px;
  height:30px;
}
#u74037 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74038 {
  position:absolute;
  left:1px;
  top:1061px;
  width:151px;
  height:30px;
}
#u74039 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74040 {
  position:absolute;
  left:1px;
  top:1031px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74041 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74042 {
  position:absolute;
  left:0px;
  top:1181px;
  width:151px;
  height:30px;
}
#u74043 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74044 {
  position:absolute;
  left:0px;
  top:1151px;
  width:151px;
  height:30px;
}
#u74045 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74046 {
  position:absolute;
  left:0px;
  top:1121px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74047 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74048 {
  position:absolute;
  left:0px;
  top:1211px;
  width:151px;
  height:30px;
}
#u74049 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74050 {
  position:absolute;
  left:0px;
  top:1181px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74051 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u74052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1419px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74052 {
  position:absolute;
  left:162px;
  top:68px;
  width:1022px;
  height:1419px;
}
#u74053 {
  position:absolute;
  left:2px;
  top:702px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74054 {
  position:absolute;
  left:188px;
  top:95px;
  width:156px;
  height:16px;
}
#u74055 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u74057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74057 {
  position:absolute;
  left:255px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u74058 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u74059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74059 {
  position:absolute;
  left:396px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u74060 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u74061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74061 {
  position:absolute;
  left:546px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u74062 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u74063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:2px;
}
#u74063 {
  position:absolute;
  left:315px;
  top:146px;
  width:63px;
  height:1px;
}
#u74064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u74065 {
  position:absolute;
  left:462px;
  top:146px;
  width:74px;
  height:1px;
}
#u74066 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u74067 {
  position:absolute;
  left:252px;
  top:181px;
  width:57px;
  height:16px;
  color:#1890FF;
}
#u74068 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u74069 {
  position:absolute;
  left:396px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u74070 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u74071 {
  position:absolute;
  left:546px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u74072 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74073 {
  position:absolute;
  left:691px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u74074 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u74075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u74075 {
  position:absolute;
  left:691px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u74076 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u74077 {
  position:absolute;
  left:606px;
  top:146px;
  width:74px;
  height:1px;
}
#u74078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74079 {
  position:absolute;
  left:845px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u74080 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u74081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u74081 {
  position:absolute;
  left:848px;
  top:181px;
  width:43px;
  height:16px;
  color:#CCCCCC;
}
#u74082 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u74083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u74083 {
  position:absolute;
  left:761px;
  top:146px;
  width:74px;
  height:1px;
}
#u74084 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74085 {
  position:absolute;
  left:1004px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u74086 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u74087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u74087 {
  position:absolute;
  left:1004px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u74088 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u74089 {
  position:absolute;
  left:920px;
  top:146px;
  width:74px;
  height:1px;
}
#u74090 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74091 {
  position:absolute;
  left:639px;
  top:269px;
  width:29px;
  height:16px;
}
#u74092 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u74093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74093 {
  position:absolute;
  left:585px;
  top:295px;
  width:43px;
  height:16px;
}
#u74094 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u74095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u74095 {
  position:absolute;
  left:252px;
  top:456px;
  width:24px;
  height:16px;
  color:#FFFFFF;
}
#u74096 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u74097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74097 {
  position:absolute;
  left:253px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74098 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74099 {
  position:absolute;
  left:358px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74100 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74101 {
  position:absolute;
  left:463px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74102 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74103 {
  position:absolute;
  left:573px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74104 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74105 {
  position:absolute;
  left:684px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74106 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74107 {
  position:absolute;
  left:252px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74108 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74109 {
  position:absolute;
  left:357px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74110 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74111 {
  position:absolute;
  left:467px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74112 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74113 {
  position:absolute;
  left:578px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74114 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74115 {
  position:absolute;
  left:688px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74116 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74117 {
  position:absolute;
  left:255px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74118 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74119 {
  position:absolute;
  left:360px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74120 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74121 {
  position:absolute;
  left:470px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74122 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74123 {
  position:absolute;
  left:581px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74124 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u74125 {
  position:absolute;
  left:691px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u74126 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u74127 {
  position:absolute;
  left:254px;
  top:253px;
  width:323px;
  height:16px;
  color:#CCCCCC;
}
#u74128 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u74129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74129 {
  position:absolute;
  left:253px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74130 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74131 {
  position:absolute;
  left:356px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74132 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74133 {
  position:absolute;
  left:459px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74134 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74135 {
  position:absolute;
  left:573px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74136 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74137 {
  position:absolute;
  left:684px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74138 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74139 {
  position:absolute;
  left:252px;
  top:481px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74140 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74141 {
  position:absolute;
  left:355px;
  top:481px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74142 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74143 {
  position:absolute;
  left:458px;
  top:481px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74144 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74145 {
  position:absolute;
  left:572px;
  top:481px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74146 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74147 {
  position:absolute;
  left:684px;
  top:479px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74148 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74149 {
  position:absolute;
  left:252px;
  top:593px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74150 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74151 {
  position:absolute;
  left:355px;
  top:593px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74152 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74153 {
  position:absolute;
  left:458px;
  top:593px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74154 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74155 {
  position:absolute;
  left:572px;
  top:593px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74156 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74157 {
  position:absolute;
  left:684px;
  top:591px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u74158 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u74159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74159 {
  position:absolute;
  left:320px;
  top:274px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74160 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74161 {
  position:absolute;
  left:427px;
  top:271px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74162 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74163 {
  position:absolute;
  left:533px;
  top:271px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74164 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74165 {
  position:absolute;
  left:642px;
  top:269px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74166 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74167 {
  position:absolute;
  left:751px;
  top:269px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74168 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74169 {
  position:absolute;
  left:321px;
  top:394px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74170 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74171 {
  position:absolute;
  left:428px;
  top:391px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74172 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74173 {
  position:absolute;
  left:534px;
  top:391px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74174 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74175 {
  position:absolute;
  left:643px;
  top:389px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74176 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74177 {
  position:absolute;
  left:752px;
  top:389px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74178 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74179 {
  position:absolute;
  left:324px;
  top:500px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74180 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74181 {
  position:absolute;
  left:431px;
  top:497px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74182 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74183 {
  position:absolute;
  left:537px;
  top:497px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74184 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74185 {
  position:absolute;
  left:646px;
  top:495px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74186 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u74187 {
  position:absolute;
  left:755px;
  top:495px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u74188 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u74189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74189 {
  position:absolute;
  left:254px;
  top:214px;
  width:323px;
  height:16px;
}
#u74190 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u74191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74191 {
  position:absolute;
  left:343px;
  top:474px;
  width:360px;
  height:170px;
}
#u74192 {
  position:absolute;
  left:2px;
  top:77px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74193 {
  position:absolute;
  left:456px;
  top:525px;
  width:113px;
  height:16px;
}
#u74194 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u74195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:31px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u74195 {
  position:absolute;
  left:538px;
  top:572px;
  width:131px;
  height:31px;
  color:#FFFFFF;
}
#u74196 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u74197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74197 {
  position:absolute;
  left:378px;
  top:572px;
  width:117px;
  height:31px;
  color:#199ED8;
}
#u74198 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u74199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u74199 {
  position:absolute;
  left:652px;
  top:487px;
  width:37px;
  height:16px;
  color:#199ED8;
}
#u74200 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
