body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1001px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71238 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1001px;
}
#u71239 {
  position:absolute;
  left:2px;
  top:492px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71240 {
  position:absolute;
  left:151px;
  top:0px;
  width:1051px;
  height:2273px;
}
#u71241 {
  position:absolute;
  left:2px;
  top:1128px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71242 {
  position:absolute;
  left:151px;
  top:0px;
  width:1051px;
  height:59px;
}
#u71243 {
  position:absolute;
  left:2px;
  top:22px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71244 {
  position:absolute;
  left:1px;
  top:119px;
  width:151px;
  height:30px;
}
#u71245 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71246 {
  position:absolute;
  left:1px;
  top:59px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71247 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71248 {
  position:absolute;
  left:1px;
  top:207px;
  width:151px;
  height:30px;
}
#u71249 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71250 {
  position:absolute;
  left:1px;
  top:236px;
  width:151px;
  height:30px;
}
#u71251 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71252 {
  position:absolute;
  left:1px;
  top:477px;
  width:151px;
  height:30px;
}
#u71253 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71254 {
  position:absolute;
  left:1px;
  top:447px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71255 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71256 {
  position:absolute;
  left:1px;
  top:562px;
  width:151px;
  height:30px;
}
#u71257 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71258 {
  position:absolute;
  left:1px;
  top:620px;
  width:151px;
  height:30px;
}
#u71259 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71260 {
  position:absolute;
  left:291px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71261 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71262 {
  position:absolute;
  left:189px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71263 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71264 {
  position:absolute;
  left:400px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71265 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71266 {
  position:absolute;
  left:1px;
  top:767px;
  width:151px;
  height:30px;
}
#u71267 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71268 {
  position:absolute;
  left:1px;
  top:738px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71269 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71270 {
  position:absolute;
  left:1px;
  top:796px;
  width:151px;
  height:30px;
}
#u71271 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71272 {
  position:absolute;
  left:1px;
  top:322px;
  width:151px;
  height:30px;
}
#u71273 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71274 {
  position:absolute;
  left:1px;
  top:293px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71275 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71276 {
  position:absolute;
  left:1px;
  top:351px;
  width:151px;
  height:30px;
}
#u71277 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71278 {
  position:absolute;
  left:1px;
  top:380px;
  width:151px;
  height:30px;
}
#u71279 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71280 {
  position:absolute;
  left:1px;
  top:264px;
  width:151px;
  height:30px;
}
#u71281 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71282 {
  position:absolute;
  left:1px;
  top:410px;
  width:151px;
  height:30px;
}
#u71283 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71284 {
  position:absolute;
  left:1px;
  top:649px;
  width:151px;
  height:30px;
}
#u71285 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71286 {
  position:absolute;
  left:1px;
  top:679px;
  width:151px;
  height:30px;
}
#u71287 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71288 {
  position:absolute;
  left:1px;
  top:708px;
  width:151px;
  height:30px;
}
#u71289 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71290 {
  position:absolute;
  left:1px;
  top:506px;
  width:151px;
  height:30px;
}
#u71291 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71292 {
  position:absolute;
  left:1px;
  top:825px;
  width:151px;
  height:30px;
}
#u71293 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71294 {
  position:absolute;
  left:1px;
  top:854px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71295 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71296 {
  position:absolute;
  left:1px;
  top:942px;
  width:151px;
  height:30px;
}
#u71297 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71298 {
  position:absolute;
  left:1px;
  top:1008px;
  width:151px;
  height:30px;
}
#u71299 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71300 {
  position:absolute;
  left:1px;
  top:971px;
  width:151px;
  height:30px;
}
#u71301 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71302 {
  position:absolute;
  left:1px;
  top:177px;
  width:151px;
  height:30px;
}
#u71303 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71304 {
  position:absolute;
  left:1px;
  top:591px;
  width:151px;
  height:30px;
}
#u71305 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71306 {
  position:absolute;
  left:1px;
  top:89px;
  width:151px;
  height:30px;
}
#u71307 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71308 {
  position:absolute;
  left:1px;
  top:149px;
  width:151px;
  height:30px;
}
#u71309 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71310 {
  position:absolute;
  left:1px;
  top:535px;
  width:151px;
  height:30px;
}
#u71311 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71312 {
  position:absolute;
  left:1px;
  top:884px;
  width:151px;
  height:30px;
}
#u71313 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71314 {
  position:absolute;
  left:1px;
  top:912px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71315 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71316 {
  position:absolute;
  left:1px;
  top:1001px;
  width:151px;
  height:30px;
}
#u71317 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71318 {
  position:absolute;
  left:1px;
  top:971px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71319 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71320 {
  position:absolute;
  left:1px;
  top:1091px;
  width:151px;
  height:30px;
}
#u71321 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71322 {
  position:absolute;
  left:1px;
  top:1061px;
  width:151px;
  height:30px;
}
#u71323 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71324 {
  position:absolute;
  left:1px;
  top:1031px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71325 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71326 {
  position:absolute;
  left:0px;
  top:1181px;
  width:151px;
  height:30px;
}
#u71327 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71328 {
  position:absolute;
  left:0px;
  top:1151px;
  width:151px;
  height:30px;
}
#u71329 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71330 {
  position:absolute;
  left:0px;
  top:1121px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71331 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71332 {
  position:absolute;
  left:0px;
  top:1211px;
  width:151px;
  height:30px;
}
#u71333 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71334 {
  position:absolute;
  left:0px;
  top:1181px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71335 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1419px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71336 {
  position:absolute;
  left:162px;
  top:68px;
  width:1022px;
  height:1419px;
}
#u71337 {
  position:absolute;
  left:2px;
  top:702px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71338 {
  position:absolute;
  left:188px;
  top:95px;
  width:156px;
  height:16px;
}
#u71339 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u71341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71341 {
  position:absolute;
  left:255px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u71342 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71343 {
  position:absolute;
  left:396px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71344 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71345 {
  position:absolute;
  left:546px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71346 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:2px;
}
#u71347 {
  position:absolute;
  left:315px;
  top:146px;
  width:63px;
  height:1px;
}
#u71348 {
  position:absolute;
  left:2px;
  top:-8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u71349 {
  position:absolute;
  left:462px;
  top:146px;
  width:74px;
  height:1px;
}
#u71350 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u71351 {
  position:absolute;
  left:252px;
  top:181px;
  width:57px;
  height:16px;
  color:#1890FF;
}
#u71352 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71353 {
  position:absolute;
  left:396px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u71354 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71355 {
  position:absolute;
  left:546px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u71356 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71357 {
  position:absolute;
  left:691px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71358 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71359 {
  position:absolute;
  left:691px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u71360 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u71361 {
  position:absolute;
  left:606px;
  top:146px;
  width:74px;
  height:1px;
}
#u71362 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71363 {
  position:absolute;
  left:845px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71364 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71365 {
  position:absolute;
  left:848px;
  top:181px;
  width:43px;
  height:16px;
  color:#CCCCCC;
}
#u71366 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u71367 {
  position:absolute;
  left:761px;
  top:146px;
  width:74px;
  height:1px;
}
#u71368 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71369 {
  position:absolute;
  left:1004px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71370 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71371 {
  position:absolute;
  left:1004px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u71372 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u71373 {
  position:absolute;
  left:920px;
  top:146px;
  width:74px;
  height:1px;
}
#u71374 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71375 {
  position:absolute;
  left:266px;
  top:315px;
  width:60px;
  height:16px;
}
#u71376 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u71377 {
  position:absolute;
  left:345px;
  top:312px;
  width:57px;
  height:22px;
}
#u71377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71377_input:disabled {
  color:grayText;
}
#u71378 {
  position:absolute;
  left:412px;
  top:312px;
  width:57px;
  height:22px;
}
#u71378_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71378_input:disabled {
  color:grayText;
}
#u71379 {
  position:absolute;
  left:479px;
  top:312px;
  width:57px;
  height:22px;
}
#u71379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71379_input:disabled {
  color:grayText;
}
#u71380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71380 {
  position:absolute;
  left:343px;
  top:474px;
  width:50px;
  height:50px;
}
#u71381 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71382 {
  position:absolute;
  left:344px;
  top:235px;
  width:50px;
  height:50px;
}
#u71383 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71384 {
  position:absolute;
  left:404px;
  top:269px;
  width:29px;
  height:16px;
}
#u71385 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u71386 {
  position:absolute;
  left:373px;
  top:504px;
  width:20px;
  height:20px;
  color:#1890FF;
}
#u71387 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u71388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u71388 {
  position:absolute;
  left:374px;
  top:265px;
  width:20px;
  height:20px;
  color:#1890FF;
}
#u71389 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u71390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71390 {
  position:absolute;
  left:263px;
  top:396px;
  width:60px;
  height:16px;
}
#u71391 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u71392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71392 {
  position:absolute;
  left:268px;
  top:430px;
  width:56px;
  height:16px;
}
#u71393 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u71394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71394 {
  position:absolute;
  left:342px;
  top:348px;
  width:90px;
  height:31px;
  color:#199ED8;
}
#u71395 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u71396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71396 {
  position:absolute;
  left:444px;
  top:347px;
  width:90px;
  height:31px;
  color:#199ED8;
}
#u71397 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u71398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71398 {
  position:absolute;
  left:551px;
  top:347px;
  width:90px;
  height:31px;
  color:#199ED8;
}
#u71399 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u71400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71400 {
  position:absolute;
  left:656px;
  top:347px;
  width:90px;
  height:31px;
  color:#CCCCCC;
}
#u71401 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u71402 {
  position:absolute;
  left:340px;
  top:391px;
  width:90px;
  height:22px;
}
#u71402_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71402_input:disabled {
  color:grayText;
}
#u71403 {
  position:absolute;
  left:445px;
  top:391px;
  width:90px;
  height:22px;
}
#u71403_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71403_input:disabled {
  color:grayText;
}
#u71404 {
  position:absolute;
  left:551px;
  top:391px;
  width:90px;
  height:22px;
}
#u71404_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71404_input:disabled {
  color:grayText;
}
#u71405 {
  position:absolute;
  left:342px;
  top:425px;
  width:90px;
  height:25px;
}
#u71405_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71406 {
  position:absolute;
  left:445px;
  top:425px;
  width:90px;
  height:25px;
}
#u71406_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71407 {
  position:absolute;
  left:551px;
  top:425px;
  width:90px;
  height:25px;
}
#u71407_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71408 {
  position:absolute;
  left:264px;
  top:355px;
  width:61px;
  height:16px;
}
#u71409 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u71410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71410 {
  position:absolute;
  left:266px;
  top:537px;
  width:60px;
  height:16px;
}
#u71411 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u71412 {
  position:absolute;
  left:342px;
  top:535px;
  width:57px;
  height:22px;
}
#u71412_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71412_input:disabled {
  color:grayText;
}
#u71413 {
  position:absolute;
  left:412px;
  top:534px;
  width:57px;
  height:22px;
}
#u71413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71413_input:disabled {
  color:grayText;
}
#u71414 {
  position:absolute;
  left:479px;
  top:534px;
  width:57px;
  height:22px;
}
#u71414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71414_input:disabled {
  color:grayText;
}
#u71415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71415 {
  position:absolute;
  left:263px;
  top:618px;
  width:60px;
  height:16px;
}
#u71416 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u71417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71417 {
  position:absolute;
  left:268px;
  top:653px;
  width:56px;
  height:16px;
}
#u71418 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u71419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71419 {
  position:absolute;
  left:342px;
  top:570px;
  width:90px;
  height:31px;
  color:#199ED8;
}
#u71420 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u71421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71421 {
  position:absolute;
  left:444px;
  top:569px;
  width:90px;
  height:31px;
  color:#199ED8;
}
#u71422 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u71423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71423 {
  position:absolute;
  left:551px;
  top:569px;
  width:90px;
  height:31px;
  color:#CCCCCC;
}
#u71424 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u71425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71425 {
  position:absolute;
  left:656px;
  top:569px;
  width:90px;
  height:31px;
  color:#CCCCCC;
}
#u71426 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u71427 {
  position:absolute;
  left:340px;
  top:615px;
  width:90px;
  height:22px;
}
#u71427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71427_input:disabled {
  color:grayText;
}
#u71428 {
  position:absolute;
  left:445px;
  top:615px;
  width:90px;
  height:22px;
}
#u71428_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71428_input:disabled {
  color:grayText;
}
#u71429 {
  position:absolute;
  left:342px;
  top:648px;
  width:90px;
  height:25px;
}
#u71429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71430 {
  position:absolute;
  left:445px;
  top:648px;
  width:90px;
  height:25px;
}
#u71430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71431 {
  position:absolute;
  left:264px;
  top:577px;
  width:61px;
  height:16px;
}
#u71432 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u71433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71433 {
  position:absolute;
  left:408px;
  top:508px;
  width:43px;
  height:16px;
}
#u71434 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71435 {
  position:absolute;
  left:343px;
  top:699px;
  width:50px;
  height:50px;
}
#u71436 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71437 {
  position:absolute;
  left:403px;
  top:733px;
  width:43px;
  height:16px;
}
#u71438 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71439 {
  position:absolute;
  left:341px;
  top:774px;
  width:50px;
  height:50px;
}
#u71440 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71441 {
  position:absolute;
  left:401px;
  top:808px;
  width:43px;
  height:16px;
}
#u71442 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:39px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u71443 {
  position:absolute;
  left:595px;
  top:1175px;
  width:146px;
  height:39px;
  color:#FFFFFF;
}
#u71444 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u71445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71445 {
  position:absolute;
  left:427px;
  top:1175px;
  width:143px;
  height:38px;
  color:#199ED8;
}
#u71446 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  word-wrap:break-word;
}
#u71447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71447 {
  position:absolute;
  left:756px;
  top:362px;
  width:365px;
  height:16px;
}
#u71448 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
