body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1001px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26410 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1001px;
}
#u26411 {
  position:absolute;
  left:2px;
  top:492px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26412 {
  position:absolute;
  left:151px;
  top:0px;
  width:1051px;
  height:2273px;
}
#u26413 {
  position:absolute;
  left:2px;
  top:1128px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26414 {
  position:absolute;
  left:151px;
  top:0px;
  width:1051px;
  height:59px;
}
#u26415 {
  position:absolute;
  left:2px;
  top:22px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26416 {
  position:absolute;
  left:1px;
  top:119px;
  width:151px;
  height:30px;
}
#u26417 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26418 {
  position:absolute;
  left:1px;
  top:59px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26419 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26420 {
  position:absolute;
  left:1px;
  top:207px;
  width:151px;
  height:30px;
}
#u26421 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26422 {
  position:absolute;
  left:1px;
  top:236px;
  width:151px;
  height:30px;
}
#u26423 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26424 {
  position:absolute;
  left:1px;
  top:477px;
  width:151px;
  height:30px;
}
#u26425 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26426 {
  position:absolute;
  left:1px;
  top:447px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26427 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26428 {
  position:absolute;
  left:1px;
  top:562px;
  width:151px;
  height:30px;
}
#u26429 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26430 {
  position:absolute;
  left:1px;
  top:620px;
  width:151px;
  height:30px;
}
#u26431 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26432 {
  position:absolute;
  left:291px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26433 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26434 {
  position:absolute;
  left:189px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26435 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26436 {
  position:absolute;
  left:400px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26437 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26438 {
  position:absolute;
  left:1px;
  top:767px;
  width:151px;
  height:30px;
}
#u26439 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26440 {
  position:absolute;
  left:1px;
  top:738px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26441 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26442 {
  position:absolute;
  left:1px;
  top:796px;
  width:151px;
  height:30px;
}
#u26443 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26444 {
  position:absolute;
  left:1px;
  top:322px;
  width:151px;
  height:30px;
}
#u26445 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26446 {
  position:absolute;
  left:1px;
  top:293px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26447 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26448 {
  position:absolute;
  left:1px;
  top:351px;
  width:151px;
  height:30px;
}
#u26449 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26450 {
  position:absolute;
  left:1px;
  top:380px;
  width:151px;
  height:30px;
}
#u26451 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26452 {
  position:absolute;
  left:1px;
  top:264px;
  width:151px;
  height:30px;
}
#u26453 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26454 {
  position:absolute;
  left:1px;
  top:410px;
  width:151px;
  height:30px;
}
#u26455 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26456 {
  position:absolute;
  left:1px;
  top:649px;
  width:151px;
  height:30px;
}
#u26457 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26458 {
  position:absolute;
  left:1px;
  top:679px;
  width:151px;
  height:30px;
}
#u26459 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26460 {
  position:absolute;
  left:1px;
  top:708px;
  width:151px;
  height:30px;
}
#u26461 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26462 {
  position:absolute;
  left:1px;
  top:506px;
  width:151px;
  height:30px;
}
#u26463 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26464 {
  position:absolute;
  left:1px;
  top:825px;
  width:151px;
  height:30px;
}
#u26465 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26466 {
  position:absolute;
  left:1px;
  top:854px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26467 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26468 {
  position:absolute;
  left:1px;
  top:942px;
  width:151px;
  height:30px;
}
#u26469 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26470 {
  position:absolute;
  left:1px;
  top:1008px;
  width:151px;
  height:30px;
}
#u26471 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26472 {
  position:absolute;
  left:1px;
  top:971px;
  width:151px;
  height:30px;
}
#u26473 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26474 {
  position:absolute;
  left:1px;
  top:177px;
  width:151px;
  height:30px;
}
#u26475 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26476 {
  position:absolute;
  left:1px;
  top:591px;
  width:151px;
  height:30px;
}
#u26477 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26478 {
  position:absolute;
  left:1px;
  top:89px;
  width:151px;
  height:30px;
}
#u26479 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26480 {
  position:absolute;
  left:1px;
  top:149px;
  width:151px;
  height:30px;
}
#u26481 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26482 {
  position:absolute;
  left:1px;
  top:535px;
  width:151px;
  height:30px;
}
#u26483 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26484 {
  position:absolute;
  left:1px;
  top:884px;
  width:151px;
  height:30px;
}
#u26485 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26486 {
  position:absolute;
  left:1px;
  top:912px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26487 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u26488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1419px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26488 {
  position:absolute;
  left:162px;
  top:68px;
  width:1022px;
  height:1419px;
}
#u26489 {
  position:absolute;
  left:2px;
  top:702px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26490 {
  position:absolute;
  left:188px;
  top:95px;
  width:156px;
  height:16px;
}
#u26491 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u26492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26492 {
  position:absolute;
  left:259px;
  top:161px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u26493 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u26494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26494 {
  position:absolute;
  left:473px;
  top:161px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26495 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u26496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26496 {
  position:absolute;
  left:698px;
  top:161px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u26497 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u26498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:2px;
}
#u26498 {
  position:absolute;
  left:319px;
  top:186px;
  width:144px;
  height:1px;
}
#u26499 {
  position:absolute;
  left:2px;
  top:-8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:2px;
}
#u26500 {
  position:absolute;
  left:533px;
  top:186px;
  width:144px;
  height:1px;
}
#u26501 {
  position:absolute;
  left:2px;
  top:-8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u26502 {
  position:absolute;
  left:256px;
  top:221px;
  width:57px;
  height:16px;
  color:#1890FF;
}
#u26503 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u26504 {
  position:absolute;
  left:473px;
  top:221px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u26505 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u26506 {
  position:absolute;
  left:698px;
  top:221px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u26507 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26508 {
  position:absolute;
  left:231px;
  top:302px;
  width:87px;
  height:16px;
}
#u26509 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u26510 {
  position:absolute;
  left:391px;
  top:299px;
  width:226px;
  height:22px;
}
#u26510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26510_input:disabled {
  color:grayText;
}
#u26511 {
  position:absolute;
  left:391px;
  top:331px;
  width:226px;
  height:22px;
}
#u26511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26511_input:disabled {
  color:grayText;
}
#u26512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26512 {
  position:absolute;
  left:231px;
  top:363px;
  width:146px;
  height:16px;
}
#u26513 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u26514 {
  position:absolute;
  left:391px;
  top:363px;
  width:226px;
  height:22px;
}
#u26514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26514_input:disabled {
  color:grayText;
}
#u26515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u26515 {
  position:absolute;
  left:435px;
  top:1166px;
  width:99px;
  height:30px;
  color:#FFFFFF;
}
#u26516 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u26517 {
  position:absolute;
  left:708px;
  top:294px;
  width:40px;
  height:25px;
}
#u26517_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26518 {
  position:absolute;
  left:640px;
  top:299px;
  width:29px;
  height:16px;
}
#u26519 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26520 {
  position:absolute;
  left:708px;
  top:325px;
  width:40px;
  height:25px;
}
#u26520_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26521 {
  position:absolute;
  left:640px;
  top:330px;
  width:29px;
  height:16px;
}
#u26522 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26523 {
  position:absolute;
  left:708px;
  top:360px;
  width:40px;
  height:25px;
}
#u26523_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26524 {
  position:absolute;
  left:640px;
  top:365px;
  width:29px;
  height:16px;
}
#u26525 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26526 {
  position:absolute;
  left:231px;
  top:334px;
  width:68px;
  height:16px;
}
#u26527 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u26528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26528 {
  position:absolute;
  left:231px;
  top:395px;
  width:115px;
  height:16px;
}
#u26529 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u26530 {
  position:absolute;
  left:391px;
  top:395px;
  width:226px;
  height:22px;
}
#u26530_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26530_input:disabled {
  color:grayText;
}
#u26531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26531 {
  position:absolute;
  left:231px;
  top:430px;
  width:128px;
  height:16px;
}
#u26532 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u26533 {
  position:absolute;
  left:391px;
  top:459px;
  width:226px;
  height:22px;
}
#u26533_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26533_input:disabled {
  color:grayText;
}
#u26534 {
  position:absolute;
  left:391px;
  top:427px;
  width:226px;
  height:22px;
}
#u26534_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26534_input:disabled {
  color:grayText;
}
#u26535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26535 {
  position:absolute;
  left:231px;
  top:491px;
  width:137px;
  height:16px;
}
#u26536 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u26537 {
  position:absolute;
  left:391px;
  top:491px;
  width:226px;
  height:22px;
}
#u26537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26537_input:disabled {
  color:grayText;
}
#u26538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26538 {
  position:absolute;
  left:231px;
  top:462px;
  width:90px;
  height:16px;
}
#u26539 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u26540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26540 {
  position:absolute;
  left:231px;
  top:523px;
  width:100px;
  height:16px;
}
#u26541 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u26542 {
  position:absolute;
  left:391px;
  top:523px;
  width:226px;
  height:22px;
}
#u26542_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26542_input:disabled {
  color:grayText;
}
#u26543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26543 {
  position:absolute;
  left:231px;
  top:555px;
  width:110px;
  height:16px;
}
#u26544 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u26545 {
  position:absolute;
  left:391px;
  top:555px;
  width:226px;
  height:22px;
}
#u26545_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26545_input:disabled {
  color:grayText;
}
#u26546 {
  position:absolute;
  left:708px;
  top:395px;
  width:40px;
  height:25px;
}
#u26546_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26547 {
  position:absolute;
  left:640px;
  top:400px;
  width:29px;
  height:16px;
}
#u26548 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26549 {
  position:absolute;
  left:708px;
  top:426px;
  width:40px;
  height:25px;
}
#u26549_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26550 {
  position:absolute;
  left:640px;
  top:431px;
  width:29px;
  height:16px;
}
#u26551 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26552 {
  position:absolute;
  left:708px;
  top:459px;
  width:40px;
  height:25px;
}
#u26552_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26553 {
  position:absolute;
  left:640px;
  top:464px;
  width:29px;
  height:16px;
}
#u26554 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26555 {
  position:absolute;
  left:708px;
  top:491px;
  width:40px;
  height:25px;
}
#u26555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26556 {
  position:absolute;
  left:640px;
  top:496px;
  width:29px;
  height:16px;
}
#u26557 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26558 {
  position:absolute;
  left:708px;
  top:522px;
  width:40px;
  height:25px;
}
#u26558_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26559 {
  position:absolute;
  left:640px;
  top:527px;
  width:29px;
  height:16px;
}
#u26560 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26561 {
  position:absolute;
  left:708px;
  top:557px;
  width:40px;
  height:25px;
}
#u26561_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26562 {
  position:absolute;
  left:640px;
  top:562px;
  width:29px;
  height:16px;
}
#u26563 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u26564 {
  position:absolute;
  left:525px;
  top:616px;
  width:192px;
  height:30px;
  color:#FFFFFF;
}
#u26565 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u26566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u26566 {
  position:absolute;
  left:323px;
  top:616px;
  width:192px;
  height:30px;
  color:#1890FF;
}
#u26567 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u26568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26568 {
  position:absolute;
  left:231px;
  top:686px;
  width:263px;
  height:272px;
}
#u26569 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u26570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26570 {
  position:absolute;
  left:522px;
  top:684px;
  width:300px;
  height:272px;
}
#u26571 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26572 {
  position:absolute;
  left:231px;
  top:660px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26573 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
