body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:837px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51001 {
  position:absolute;
  left:42px;
  top:42px;
  width:795px;
  height:64px;
}
#u51002 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  white-space:nowrap;
}
