body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1001px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71775 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1001px;
}
#u71776 {
  position:absolute;
  left:2px;
  top:492px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71777 {
  position:absolute;
  left:151px;
  top:0px;
  width:1051px;
  height:2273px;
}
#u71778 {
  position:absolute;
  left:2px;
  top:1128px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71779 {
  position:absolute;
  left:151px;
  top:0px;
  width:1051px;
  height:59px;
}
#u71780 {
  position:absolute;
  left:2px;
  top:22px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71781 {
  position:absolute;
  left:1px;
  top:119px;
  width:151px;
  height:30px;
}
#u71782 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71783 {
  position:absolute;
  left:1px;
  top:59px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71784 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71785 {
  position:absolute;
  left:1px;
  top:207px;
  width:151px;
  height:30px;
}
#u71786 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71787 {
  position:absolute;
  left:1px;
  top:236px;
  width:151px;
  height:30px;
}
#u71788 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71789 {
  position:absolute;
  left:1px;
  top:477px;
  width:151px;
  height:30px;
}
#u71790 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71791 {
  position:absolute;
  left:1px;
  top:447px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71792 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71793 {
  position:absolute;
  left:1px;
  top:562px;
  width:151px;
  height:30px;
}
#u71794 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71795 {
  position:absolute;
  left:1px;
  top:620px;
  width:151px;
  height:30px;
}
#u71796 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71797 {
  position:absolute;
  left:291px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71798 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71799 {
  position:absolute;
  left:189px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71800 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71801 {
  position:absolute;
  left:400px;
  top:11px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71802 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71803 {
  position:absolute;
  left:1px;
  top:767px;
  width:151px;
  height:30px;
}
#u71804 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71805 {
  position:absolute;
  left:1px;
  top:738px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71806 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71807 {
  position:absolute;
  left:1px;
  top:796px;
  width:151px;
  height:30px;
}
#u71808 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71809 {
  position:absolute;
  left:1px;
  top:322px;
  width:151px;
  height:30px;
}
#u71810 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71811 {
  position:absolute;
  left:1px;
  top:293px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71812 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71813 {
  position:absolute;
  left:1px;
  top:351px;
  width:151px;
  height:30px;
}
#u71814 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71815 {
  position:absolute;
  left:1px;
  top:380px;
  width:151px;
  height:30px;
}
#u71816 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71817 {
  position:absolute;
  left:1px;
  top:264px;
  width:151px;
  height:30px;
}
#u71818 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71819 {
  position:absolute;
  left:1px;
  top:410px;
  width:151px;
  height:30px;
}
#u71820 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71821 {
  position:absolute;
  left:1px;
  top:649px;
  width:151px;
  height:30px;
}
#u71822 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71823 {
  position:absolute;
  left:1px;
  top:679px;
  width:151px;
  height:30px;
}
#u71824 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71825 {
  position:absolute;
  left:1px;
  top:708px;
  width:151px;
  height:30px;
}
#u71826 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71827 {
  position:absolute;
  left:1px;
  top:506px;
  width:151px;
  height:30px;
}
#u71828 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71829 {
  position:absolute;
  left:1px;
  top:825px;
  width:151px;
  height:30px;
}
#u71830 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71831 {
  position:absolute;
  left:1px;
  top:854px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71832 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71833 {
  position:absolute;
  left:1px;
  top:942px;
  width:151px;
  height:30px;
}
#u71834 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71835 {
  position:absolute;
  left:1px;
  top:1008px;
  width:151px;
  height:30px;
}
#u71836 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71837 {
  position:absolute;
  left:1px;
  top:971px;
  width:151px;
  height:30px;
}
#u71838 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71839 {
  position:absolute;
  left:1px;
  top:177px;
  width:151px;
  height:30px;
}
#u71840 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71841 {
  position:absolute;
  left:1px;
  top:591px;
  width:151px;
  height:30px;
}
#u71842 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71843 {
  position:absolute;
  left:1px;
  top:89px;
  width:151px;
  height:30px;
}
#u71844 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71845 {
  position:absolute;
  left:1px;
  top:149px;
  width:151px;
  height:30px;
}
#u71846 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71847 {
  position:absolute;
  left:1px;
  top:535px;
  width:151px;
  height:30px;
}
#u71848 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71849 {
  position:absolute;
  left:1px;
  top:884px;
  width:151px;
  height:30px;
}
#u71850 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71851 {
  position:absolute;
  left:1px;
  top:912px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71852 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71853 {
  position:absolute;
  left:1px;
  top:1001px;
  width:151px;
  height:30px;
}
#u71854 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71855 {
  position:absolute;
  left:1px;
  top:971px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71856 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71857 {
  position:absolute;
  left:1px;
  top:1091px;
  width:151px;
  height:30px;
}
#u71858 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71859 {
  position:absolute;
  left:1px;
  top:1061px;
  width:151px;
  height:30px;
}
#u71860 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71861 {
  position:absolute;
  left:1px;
  top:1031px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71862 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71863 {
  position:absolute;
  left:0px;
  top:1181px;
  width:151px;
  height:30px;
}
#u71864 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71865 {
  position:absolute;
  left:0px;
  top:1151px;
  width:151px;
  height:30px;
}
#u71866 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71867 {
  position:absolute;
  left:0px;
  top:1121px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71868 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71869 {
  position:absolute;
  left:0px;
  top:1211px;
  width:151px;
  height:30px;
}
#u71870 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71871 {
  position:absolute;
  left:0px;
  top:1181px;
  width:151px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71872 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u71873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1419px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71873 {
  position:absolute;
  left:162px;
  top:68px;
  width:1022px;
  height:1419px;
}
#u71874 {
  position:absolute;
  left:2px;
  top:702px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71875 {
  position:absolute;
  left:188px;
  top:95px;
  width:156px;
  height:16px;
}
#u71876 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u71878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71878 {
  position:absolute;
  left:255px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u71879 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71880 {
  position:absolute;
  left:396px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71881 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71882 {
  position:absolute;
  left:546px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71883 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:2px;
}
#u71884 {
  position:absolute;
  left:315px;
  top:146px;
  width:63px;
  height:1px;
}
#u71885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u71886 {
  position:absolute;
  left:462px;
  top:146px;
  width:74px;
  height:1px;
}
#u71887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u71888 {
  position:absolute;
  left:252px;
  top:181px;
  width:57px;
  height:16px;
  color:#1890FF;
}
#u71889 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71890 {
  position:absolute;
  left:396px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u71891 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71892 {
  position:absolute;
  left:546px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u71893 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71894 {
  position:absolute;
  left:691px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71895 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71896 {
  position:absolute;
  left:691px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u71897 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u71898 {
  position:absolute;
  left:606px;
  top:146px;
  width:74px;
  height:1px;
}
#u71899 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71900 {
  position:absolute;
  left:845px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71901 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71902 {
  position:absolute;
  left:848px;
  top:181px;
  width:43px;
  height:16px;
  color:#CCCCCC;
}
#u71903 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u71904 {
  position:absolute;
  left:761px;
  top:146px;
  width:74px;
  height:1px;
}
#u71905 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71906 {
  position:absolute;
  left:1004px;
  top:121px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71907 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u71908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71908 {
  position:absolute;
  left:1004px;
  top:181px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u71909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u71910 {
  position:absolute;
  left:920px;
  top:146px;
  width:74px;
  height:1px;
}
#u71911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:38px;
}
#u71912 {
  position:absolute;
  left:573px;
  top:792px;
  width:158px;
  height:38px;
  color:#FFFFFF;
}
#u71913 {
  position:absolute;
  left:2px;
  top:11px;
  width:154px;
  word-wrap:break-word;
}
#u71914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71914 {
  position:absolute;
  left:639px;
  top:269px;
  width:29px;
  height:16px;
}
#u71915 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71916 {
  position:absolute;
  left:682px;
  top:269px;
  width:29px;
  height:16px;
}
#u71917 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71918 {
  position:absolute;
  left:585px;
  top:295px;
  width:43px;
  height:16px;
}
#u71919 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u71920 {
  position:absolute;
  left:252px;
  top:456px;
  width:24px;
  height:16px;
  color:#FFFFFF;
}
#u71921 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u71922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71922 {
  position:absolute;
  left:253px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71923 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71924 {
  position:absolute;
  left:358px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71925 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71926 {
  position:absolute;
  left:463px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71927 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71928 {
  position:absolute;
  left:573px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71929 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71930 {
  position:absolute;
  left:684px;
  top:279px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71931 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71932 {
  position:absolute;
  left:252px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71933 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71934 {
  position:absolute;
  left:357px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71935 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71936 {
  position:absolute;
  left:467px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71937 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71938 {
  position:absolute;
  left:578px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71939 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71940 {
  position:absolute;
  left:688px;
  top:396px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71941 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71942 {
  position:absolute;
  left:255px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71943 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71944 {
  position:absolute;
  left:360px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71945 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71946 {
  position:absolute;
  left:470px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71947 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71948 {
  position:absolute;
  left:581px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71949 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:78px;
}
#u71950 {
  position:absolute;
  left:691px;
  top:505px;
  width:89px;
  height:78px;
  color:#199ED8;
}
#u71951 {
  position:absolute;
  left:2px;
  top:31px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71952 {
  position:absolute;
  left:254px;
  top:253px;
  width:323px;
  height:16px;
  color:#CCCCCC;
}
#u71953 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u71954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71954 {
  position:absolute;
  left:253px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71955 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71956 {
  position:absolute;
  left:356px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71957 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71958 {
  position:absolute;
  left:459px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71959 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71960 {
  position:absolute;
  left:573px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71961 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71962 {
  position:absolute;
  left:684px;
  top:367px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71963 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71964 {
  position:absolute;
  left:252px;
  top:481px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71965 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71966 {
  position:absolute;
  left:355px;
  top:481px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71967 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71968 {
  position:absolute;
  left:458px;
  top:481px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71969 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71970 {
  position:absolute;
  left:572px;
  top:481px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71971 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71972 {
  position:absolute;
  left:684px;
  top:479px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71973 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71974 {
  position:absolute;
  left:252px;
  top:593px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71975 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71976 {
  position:absolute;
  left:355px;
  top:593px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71977 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71978 {
  position:absolute;
  left:458px;
  top:593px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71979 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71980 {
  position:absolute;
  left:572px;
  top:593px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71981 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u71982 {
  position:absolute;
  left:684px;
  top:591px;
  width:93px;
  height:16px;
  color:#199ED8;
}
#u71983 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u71984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71984 {
  position:absolute;
  left:320px;
  top:274px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u71985 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u71986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71986 {
  position:absolute;
  left:427px;
  top:271px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u71987 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u71988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71988 {
  position:absolute;
  left:533px;
  top:271px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u71989 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u71990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71990 {
  position:absolute;
  left:642px;
  top:269px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u71991 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u71992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71992 {
  position:absolute;
  left:751px;
  top:269px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u71993 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u71994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71994 {
  position:absolute;
  left:321px;
  top:394px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u71995 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u71996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71996 {
  position:absolute;
  left:428px;
  top:391px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u71997 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u71998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71998 {
  position:absolute;
  left:534px;
  top:391px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u71999 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u72000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u72000 {
  position:absolute;
  left:643px;
  top:389px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u72001 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u72002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u72002 {
  position:absolute;
  left:752px;
  top:389px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u72003 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u72004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u72004 {
  position:absolute;
  left:324px;
  top:500px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u72005 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u72006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u72006 {
  position:absolute;
  left:431px;
  top:497px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u72007 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u72008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u72008 {
  position:absolute;
  left:537px;
  top:497px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u72009 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u72010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u72010 {
  position:absolute;
  left:646px;
  top:495px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u72011 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u72012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u72012 {
  position:absolute;
  left:755px;
  top:495px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#199ED8;
}
#u72013 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u72014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72014 {
  position:absolute;
  left:254px;
  top:214px;
  width:323px;
  height:16px;
}
#u72015 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u72016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u72016 {
  position:absolute;
  left:420px;
  top:792px;
  width:143px;
  height:38px;
  color:#199ED8;
}
#u72017 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  word-wrap:break-word;
}
