body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:526px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48517 {
  position:absolute;
  left:274px;
  top:54px;
  width:100px;
  height:60px;
}
#u48518 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u48519 {
  position:absolute;
  left:274px;
  top:178px;
  width:100px;
  height:60px;
}
#u48520 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48521 {
  position:absolute;
  left:274px;
  top:298px;
  width:100px;
  height:60px;
}
#u48522 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48523 {
  position:absolute;
  left:92px;
  top:178px;
  width:100px;
  height:60px;
}
#u48524 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48525 {
  position:absolute;
  left:274px;
  top:438px;
  width:100px;
  height:60px;
}
#u48526 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:101px;
}
#u48527 {
  position:absolute;
  left:398px;
  top:54px;
  width:112px;
  height:100px;
}
#u48528 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u48529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:89px;
}
#u48529 {
  position:absolute;
  left:404px;
  top:424px;
  width:115px;
  height:88px;
}
#u48530 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u48531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u48531 {
  position:absolute;
  left:274px;
  top:598px;
  width:100px;
  height:60px;
}
#u48532 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:89px;
}
#u48533 {
  position:absolute;
  left:411px;
  top:584px;
  width:115px;
  height:88px;
}
#u48534 {
  position:absolute;
  left:2px;
  top:36px;
  width:111px;
  word-wrap:break-word;
}
#u48535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48535 {
  position:absolute;
  left:274px;
  top:746px;
  width:100px;
  height:60px;
}
#u48536 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u48537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48537 {
  position:absolute;
  left:274px;
  top:880px;
  width:100px;
  height:60px;
}
#u48538 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u48539 {
  position:absolute;
  left:274px;
  top:995px;
  width:100px;
  height:60px;
}
#u48540 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u48541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48541 {
  position:absolute;
  left:274px;
  top:1121px;
  width:100px;
  height:60px;
}
#u48542 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u48543 {
  position:absolute;
  left:324px;
  top:940px;
  width:0px;
  height:0px;
}
#u48543_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u48543_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u48544 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48545 {
  position:absolute;
  left:324px;
  top:1055px;
  width:0px;
  height:0px;
}
#u48545_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u48545_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u48546 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48547 {
  position:absolute;
  left:324px;
  top:658px;
  width:0px;
  height:0px;
}
#u48547_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:92px;
}
#u48547_seg1 {
  position:absolute;
  left:-10px;
  top:75px;
  width:20px;
  height:20px;
}
#u48548 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48549 {
  position:absolute;
  left:324px;
  top:498px;
  width:0px;
  height:0px;
}
#u48549_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u48549_seg1 {
  position:absolute;
  left:-10px;
  top:87px;
  width:20px;
  height:20px;
}
#u48550 {
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48551 {
  position:absolute;
  left:324px;
  top:358px;
  width:0px;
  height:0px;
}
#u48551_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u48551_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u48552 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48553 {
  position:absolute;
  left:324px;
  top:238px;
  width:0px;
  height:0px;
}
#u48553_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u48553_seg1 {
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u48554 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48555 {
  position:absolute;
  left:324px;
  top:114px;
  width:0px;
  height:0px;
}
#u48555_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u48555_seg1 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u48556 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48557 {
  position:absolute;
  left:274px;
  top:208px;
  width:0px;
  height:0px;
}
#u48557_seg0 {
  position:absolute;
  left:-82px;
  top:-4px;
  width:86px;
  height:8px;
}
#u48557_seg1 {
  position:absolute;
  left:-89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u48558 {
  position:absolute;
  left:-91px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u48559 {
  position:absolute;
  left:17px;
  top:827px;
  width:232px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u48560 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u48561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u48561 {
  position:absolute;
  left:17px;
  top:610px;
  width:220px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u48562 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u48563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u48563 {
  position:absolute;
  left:17px;
  top:256px;
  width:212px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u48564 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
